@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
    color: #333;
    line-height: 1.6;
}

form {
    max-width: 500px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

.navbar {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar .flex {
    justify-content: space-between;
}

/* Image Loader */

.img-loader {
    position: relative;
}

.img-loading {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.userContainer {
    position: relative;
}

.userContainer .userMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--primary-color);
    background-color: #fff;
    padding: 0 10px;
    top: -30px;
    right: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

#user-link {
    display: block;
    margin-right: 10px;
    cursor: pointer;
}

#user-link:hover + .userMenu {
    animation: mouse-in .4s linear;
    animation-fill-mode: forwards;
}

.userMenu:hover {
    top: 30px;
    z-index: 1;
}

.userMenu li {
    display: flex;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

.userMenu li i {
    margin-right: 3px;
}

.profile-dropdown {
    cursor: pointer;
}

/*Radio styling for Payment Screen */
.radio-input {
    padding: 20px;
}

/* Checkout Screen */
.pricing-breakdown {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pricing-breakdown p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Footer */

.social-links {
    margin: 0 auto;
    min-width: 200px;
    display: flex;
    justify-content: space-between;
}

.calc-height {
    min-height: calc(100vh - 142px);
}

@keyframes mouse-in {
    25% {
        top: -5px;
        z-index: -1;
        opacity: .2;
        transform: scale(.3);
    }
    50% {
        top: 60px;
        z-index: -1;
        opacity: .4;
        transform: scale(.4);
    }
    75% {
        top: 45px;
        opacity: .6;
        transform: scale(.75);

    }
    100% {
        top: 30px;
        z-index: 2;
        opacity: 1;
        transform: scale(1);

    }
}



/*Tables and under*/

@media(max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .grid-5 {
        grid-template-columns: 2fr 1fr 1fr .2fr .2fr;
    }
    .navbar .flex {
        flex-direction: column;
    }
    .navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
    .calc-height {
        min-height: calc(100vh - 242px);
    }
}