/* Utilities */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
}

.card {
    height: 100%;
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

input, textarea {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
    outline-width: 0;
}


.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    outline-width: 0;
}

.btn-outline {
    background-color: transparent;
    border: 1px #fff solid;
}

.btn:active {
    transform: scale(.98);
}

.btn:disabled {
    opacity: .8;
    cursor: not-allowed;
}

/*Backgrounds and colored button*/

.bg-dark, .btn-dark {
    background-color: var(--dark-color);
    color: white
}

.bg-light, .btn-light {
    background-color: var(--light-color);
    color: #333;
}

.bg-primary, .btn-primary {
    background-color: var(--primary-color);
    color: white
}

.bg-primary a, .btn-primary a, .bg-secondary a, .btn-secondary a, .bg-dark a, .btn-dark a {
    color: #fff;
}

/* Text Sizes */

.lead {
    font-size: 20px;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}

.xl {
    font-size: 4rem;
}

.text-center {
    text-align: center;
}

/*Text colors*/

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-dark {
    color: var(--dark-color);
}

.text-light {
    color: var(--light-color);
}

.text-error {
    color: var(--error-color);
}

/* Alerts */

.alert {
    background-color: var(--light-color);
    padding: 10px 20px;
    font-weight: bold;
    margin: 15px 0;
}

.alert i {
    margin-right: 10px;
}

.alert-success {
    background-color: var(--success-color);
    color: #fff;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

.column {
    flex-direction: column;
}

.flex-end {
    display: flex;
    flex-direction: row-reverse;
}



.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-no-align {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}


.w-100 {
    width: 100%;
}

/* Margin */

.m0-auto {
    margin: 0 auto;
}

.ml-auto {
    margin-left: auto;
}

.mx-1 {
    margin: 0 1rem;
}

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 5rem 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 5rem;
}

/* Padding */

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 5rem 0;
}

.p-1 {
    padding: 1rem;
}

.px-1 {
    padding: 0 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 3rem;
}

.p-5 {
    padding: 5rem;
}

.d-block {
    display: block;
}

.i-block {
    display: inline;
}

.pointer {
    cursor: pointer;
}

.underline {
    border-bottom: .5px solid rgba(146, 144, 144, 0.774);
    padding-bottom: 1px;
}

.border {
    border: 1px solid gray;
    border-radius: 5px;
    width: fit-content;
}